.aot {
  display: flex;
  flex-direction: column;
  gap: 6;
}
hr {
  border: 3px dotted orange;
  border-style: none none dotted; 
  color: #fff; 
  background-color: #fff;
  padding-top: 2px;
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

.aotImgSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 80px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.evaluationSection {
  padding-left: 16px;
  padding-bottom: 16px;
}

.dish-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1; 
  height: 100%;
}

.food-content {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-grow: 1;
  overflow-y: auto;
  /*background: url("./assets/img/woodBackground2.jpg")repeat center;
  background-size: contain;*/
}

.dish-content {
  margin: 16px 16px 0 16px;
}

#dishes {
  padding: 16px;
  overflow-y: auto;
}

.dishCard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  margin-bottom: 8px;
}

.dishCard:hover {
  transform: scale(1.01);
  transition: ease-in-out 0.2s;
  box-shadow: inset;
}

h2 {
  display: flex;
  justify-content: space-between;
}

.d_none {
  display: none;
}

.overlay {
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 40%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  font-size: 16px;
  z-index: 9999;
}

.overlay-content {
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.close:hover {
  color: #ff6347;
}


