.aot {
  display: flex;
  flex-direction: column;
}

hr {
  border: 3px dotted orange;
  border-style: none none dotted;
  color: #fff;
  background-color: rgba(236, 234, 199, 0.183);
  padding-top: 2px;
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

.aotImgSection {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 80px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.evaluationSection {
  padding: 10px 0 16px 16px;
}

.dish-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.food-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dishCard {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  width: 100%;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  margin-bottom: 8px;
}

.dishCard:hover {
  transform: scale(1.01);
  transition: ease-in-out 0.2s;
  .dish-info h2 {
    transform: scale(1.03);
    filter: drop-shadow(0px 1px 16px orange);
    transition: ease-in-out 0.3s;
  }
  .dish-img {
    transform: scale(1.05);
    transition: ease-in 0.3s;
  }
}

.dish-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
}

.dish-content {
  margin: 16px 16px 0 16px;
}

#dishes {
  padding: 16px;
  overflow-y: auto;
}

.d_none {
  display: none;
}

body.overlay-visible {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
body.overlay-visible::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.overlay-content {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #ebf8e1;
  color: black;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  z-index: 1000;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

.close:hover {
  color: #ff6347;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #3f87a6, #ebf8e1, #f69d3c);
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  z-index: 998;
  opacity: 0.6;
}

.scrollToTopBtn:hover {
  background: linear-gradient(135deg, #3f87a6, #f69d3c, #ebf8e1);
  transform: scale(1.05);
  opacity: 0.9;
}

.scrollToTopBtn:active {
  background: linear-gradient(135deg, #f69d3c, #3f87a6, #ebf8e1);
}

@media (max-width: 760px) {
  .aotImgSection {
    gap: 10px;
    justify-content: space-evenly;
  }
  body {
    font-weight: 300;
    font-size: 18px;
  }
  .dish-info {
    max-width: 300px;
    flex: 1;
  }
}

@media (max-width: 500px) {
  .dish-content {
    margin: 0 4px 0 4px;
  }
  .aotImgSection {
    gap: 1px;
  }
.dish-info {
    max-width: 300px;
  }
  body {
    font-weight: 300;
    font-size: 16px;
  }
  .scrollToTopBtn {
    padding: 4px 8px;
    font-size: 16px;
  }
}