* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding-right: 32px;
  padding-left: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
